
<div class="container">
  <table class="table table-bordered">
    <tr>
      <td class="segunda">
        <div class="row">

          <div class="col-md-3">
            <h3><label id="fecha1" style="color:White">Desde el Día:</label></h3>
          </div>
          <div class="col-md-3" style="padding-top:15px">
            <input id="fchini" type="text" class="form-control" value="dd/MM/yyyy" aria-describedby="fchini">
          </div>

          <div class="col-md-1">
            <h3><label id="fecha2" style="color:White">al Día:</label></h3>
          </div>
          <div class="col-md-1" style="padding-top:15px">
            <input id="fchfin" type="text" class="form-control" value="dd/MM/yyyy" aria-describedby="fchfin">
          </div>

        </div>

        <div class="row">
          <div class="col-md-3">
            <h3><label id="opc" style="color:White">Seleccione una opción:</label></h3>
          </div>
          <div id="Option" class="row">
            <div class="col-md-2">
              <h3><label><input type="radio" value="S" id="radiodecsis" name="radioDec" checked="checked"
                onclick="ShowHide()" /><label for="radiodecsi">Todo el Día</label></label></h3>
            </div>
            <div class="col-md-2">
              <h3><label> <input type="radio" value="N" id="radiodecnos" name="radioDec" onclick="ShowGrid()" /><label
                    for="radiodecno">Permiso Parcial</label></label></h3>
            </div>
          </div>
        </div>
        <div id="GridPermisodet" class="row">
          <div id="contenedorGrillaPermiso" class="col-xs-12 col-sm-12 col-md-12 margen_izq_frm_post"
            style="width: 70%; margin-left:15%">
            <h3>Detalle de permiso</h3>
            <div class="table-responsive col-md-2" style="padding-top:18px">
              <table class="table" id="gPermisodet"></table>
              <div id="pPermisodet"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h3><label id="nom" style="color:White">Consulte su Horario:</label></h3>
          </div>
          <div id="contenedorGrilla" class="col-xs-12 col-sm-12 col-md-12 margen_izq_frm_post"
            style="width: 55%; margin-left:15%">
            <div class="table-responsive col-md-2" style="padding-top:18px">
              <table class="table" id="gHorarios"></table>
              <div id="pHorarios"></div>
            </div>
          </div>
        </div>
        <br>
        <br>

        <div class="button2" align="center">
        <button type="submit" class="btn btn-default" onclick="SaveDetalle()">Guardar Detalle</button>
        <button type="reset" class="btn btn-primary" onclick="LimpiarDatos1()">Cancelar</button>
      </div>
</td>
</tr>
</table>

</div>
